<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <springProperty scope="context" name="discordWebhook" source="mashup.logging.appender.discord.webhook-url"
                    defaultValue=""/>
    <springProperty scope="context" name="discordLevel" source="mashup.logging.appender.discord.level"
                    defaultValue="OFF"/>

    <springProfile name="develop, production">
        <property name="LOG_DIR" value="./logs" />
        <property name="LOG_PATH_NAME" value="${LOG_DIR}/spring.log" />

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH_NAME}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
                <maxHistory>60</maxHistory> <!-- 일자별 백업파일의 보관기간 -->
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m</pattern>
            </encoder>
        </appender>
    </springProfile>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
        <webhookUri>${discordWebhook}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
        </layout>
        <tts>false</tts>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${discordLevel}</level>
        </filter>
    </appender>

    <springProfile name="develop, production">
        <root level="info">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_DISCORD"/>
    </root>
</configuration>